<div class="container">
    <h1>Blog</h1>
    <h3><%= contentType %></h3>>
    <form id="postForm">
    <input id="title" class="form-control" placeholder="Title"/>
    <textarea id="shortDescr" class="form-control" placeholder="Short Description"></textarea>
    <textarea id="body" class="form-control" placeholder="Body"></textarea>
    <input id="postDate" type="date" class="form-control" />
    <input id="postAuthor" class="form-control" placeholder="author" />
    <input id="category" class="form-control" placeholder="category" />
    </form>
    <button id="addPost" class="btn btn-primary btn-block">Post</button>

</div>
<div id="postcontainer"> </div>