<div class="container">
    <br/><br/>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Create user</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <img  id="avatar" src="<%= user.photo %>" alt="avatar" style="width:100px;height:100px;">
                        <br/>
                        <div class="form-group required">
                            <label for="firstName" class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="name" class="form-control" id="firstName" placeholder="First Name" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="lastname" class="form-control" id="lastName" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="phone" class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-9">
                                <input type="phone" class="form-control" id="phone" placeholder="Phone" required="required">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="dateOfBirth" class="col-sm-3 control-label">Date of birth</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="dateOfBirth" required="required">
                            </div>
                        </div>



                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm" id="createUserBtn"> Create </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>